<template>
  <div class="animated fadeIn">
    
    <div class="card">
      <div class="card-header">
        <b-row>
          <!-- Radio Button -->
          <b-col sm="3">
            <b-form-radio-group
              id="basicCustomRadios1"
              name="customRadioInline1">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input" v-model="jns_rawat" value="1">
                <label class="custom-control-label" for="customRadioInline1">Rawat Jalan</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input" v-model="jns_rawat" value="2">
                <label class="custom-control-label" for="customRadioInline2">Rawat Inap</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input" v-model="jns_rawat" value="3">
                <label class="custom-control-label" for="customRadioInline3">IGD</label>
              </div>
            </b-form-radio-group>       
          </b-col>
          <!-- Select Jenis Pasien -->
          <b-col sm="3">
            <b-form-select id="basicSelect"
              :plain="true"
              v-model="cara_bayar"
              :options="optionsCaraBayar"
              value="Pilihan Jenis Pasien">
            </b-form-select>
          </b-col>
          <!-- Tanggal Reg -->
          <b-col sm="3">
             <b-input-group>
              <b-input-group-prepend>
                <b-input-group-text><i class="fa fa-calendar"></i></b-input-group-text>
              </b-input-group-prepend>
              <date-picker v-model="tgl_reg" :config="configDate"></date-picker>
            </b-input-group>
          </b-col> 
          <b-col sm="3">
            <b-input-group>
              <b-form-input v-model="search" type="text" placeholder="Cari..." name="search"></b-form-input>
              <!-- Attach Right button -->
              <b-input-group-append>
                <b-button variant="primary">Cari</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-col>
        </b-row>
      </div>
      <div class="card-body">
        <b-row>
          <!-- <c-table :table-data="seps" :table-fields="fields" :per-page=15 hover striped bordered small fixed></c-table> -->
        

          <b-table 
            hover striped bordered small fixed
            :items="seps" :fields="fields" :current-page="currentPage" :per-page="perPage">
            <template slot="actions" slot-scope="row">

              <b-button 
                @click="() => {
                      $router.push({ name: 'sep', params: { reg: row.item.no_reg } })
                }"  
              size="sm" 
              class="mr-1">
                Buat
              </b-button>
              <b-button size="sm" @click="print(row.item, row.index, $event.target)" class="mr-1">
                Print
              </b-button>

            </template>
          </b-table>
          <nav>
            <b-pagination :total-rows="rows" :per-page="perPage" v-model="currentPage" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
          </nav>
        </b-row>
      </div>
    </div>
    
  </div>
</template>

<script>
import { shuffleArray } from '@/shared/utils'
import cTable from './Table.vue'
import {mapState, mapMutations} from 'vuex'
import moment from 'moment'

export default {
  name: 'tables',
  components: {cTable},
  data: () => {
    return {
      noReg: '',
      tgl_reg:  new Date(),
      jns_rawat: 1,
      cara_bayar: '',
      search: '',
      perPage: 15,
      currentPage: 1,
      optionsCaraBayar: [
        {value: '', text:'Pilih'},
        {value: 1, text: 'Bayar Sendiri'},
        {value: 3, text: 'Asuransi Lain'},
        {value: 4, text: 'Keringanan Dispensasi'},
        {value: 5, text: 'Keringanan Tidak mampu'},
        {value: 6, text: 'Gratis Dispensasi'},
        {value: 7, text: 'Gratis Tidak mampu'},
        {value: 8, text: 'BPJS'},
        {value: 9, text: 'Byar Sendiri'},
      ],
      fields: [
        { key: 'no_reg', label: 'No Reg', sortable: true, sortDirection: 'desc' },
        { key: 'no_rm', label: 'No RM', sortable: true},
        { key: 'nama_pasien', label: 'Nama Pasien' },
        { key: 'tgl_reg', label: 'Tgl Reg' },
        { key: 'nama_jenis_rawat', label: 'Jenis Rawat' },
        { key: 'cara_bayar', label: 'Cara Bayar' },
        { key: 'no_sjp', label: 'No SEP' },
        { key: 'actions', label: 'Aksi' }
      ],
      date: new Date(),
      configDate: {
        format: 'DD/MM/YYYY',
        useCurrent: false,
      }     
    }
  },
  methods: {
    loadSep() {
      this.$store.dispatch('loadSep', {
        tgl_reg: moment(this.tgl_reg, "DD/MM/YYYY").format('DD-MM-YYYY'),
        jns_rawat: this.jns_rawat,
        cara_bayar: this.cara_bayar,
        search: this.search
      })
    },
    makeSep() {
      this.$store.dispatch('makeSep', {
        noReg: this.noReg
      })
    },
    make(item, index, button) {
      this.noReg = item.no_reg
      this.makeSep()
    },
    print(item, index, button) {
      console.log('Tombol print di klik', item)
    }
  },
  mounted() {
    this.loadSep()
  },
  watch: {
    'jns_rawat' () {
      this.loadSep()
    },
    'tgl_reg' () {
      this.loadSep()
    },
    'cara_bayar' () {
      this.loadSep()
    },
    'search' () {
      this.loadSep()
    }
  },
  computed: {
    ...mapState([
      'seps'
    ]),
    rows() {
      return this.seps.length
    }
  },
  
}
</script>
